.container{
    display: flex;

}


.video{
    width: 700px;
    height: 315px;
    margin-top: 90px;
    border-radius: 10px;
}


@media (max-width: 400px){
    .video{
        width: 350px;
        height: 315px;        
    }
}